* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.debug header {
    min-height: 30px;
    background-color: rgb(164, 217, 233);
    padding: 15px;
}

.debug .row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.debug .col {
	border: 2px dotted black;
    line-height: 25px;
    flex-basis: 190px;
    background-color: rgb(225, 167, 0); 
    flex-wrap: nowrap;
}

.row > .col-50 {
	flex-basis: 42%;
    text-align: center;
}

li, nav, ul, ol {
    text-decoration: none;
    display: inline;
}

.debug main.first-main{
    min-height: 475px;
    background-color: rgb(25, 0, 145);
}

.first-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-main > .container{
    background-color: rgb(255, 107, 242);
    min-height: 400px;
    min-width: 900px;
	border: 2px dotted black;
}