* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.debug header {
    min-height: 30px;
    background-color: rgb(164, 217, 233);
    padding: 15px;
}

.navbar > .row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.debug .navbar .row .col {
	border: 2px dotted black;
    line-height: 25px;
    flex-basis: 190px;
    background-color: rgb(225, 167, 0); 
}

.container div.navbar .col.col-50 {
	flex-basis: 42%;
    text-align: center;
}

li, nav, ul, ol {
    text-decoration: none;
    display: inline;
}

.debug section.first-section{
    min-height: 475px;
    background-color: rgb(25, 0, 145);
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.debug .first-section > .container{
    background-color: rgb(255, 107, 242);
    min-height: 400px;
    min-width: 850px;
	border: 2px dotted black;
}

.debug .second-section {
    background-color: white;
    display: flex;
    min-height: 475px;
    align-items: center;
    justify-content: center;
}

.debug .second-section > .container{
    min-height: 400px;
    flex-basis: 1000px;
	border: 2px dotted black;
}

.second-section .col {
    min-width: 60%;
    background-color: cornflowerblue;
    height: 100%;
}